[submodule "packages/libs/contracts-sdk/lib/forge-std"]
	path = packages/libs/contracts-sdk/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/libs/contracts-sdk/lib/contracts"]
	path = packages/libs/contracts-sdk/lib/contracts
	url = https://github.com/aerodrome-finance/contracts
